* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

li a {
  text-decoration: none;
  color: white;
}

.form-group input:focus,
.message:focus {
  outline: none;
}

.send-btn:hover {
  cursor: pointer;
}

header {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #5e56bb;
  position: relative;
}

header h1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 19vh;
  margin-left: 6.19vw;
  font-size: 3.5rem;
  line-height: 3.8rem;
  position: relative;
}

header h1:after {
  content: url("./assets/arrow.svg");
  padding-top: 11vh;
}

header img {
  width: 520px;
  height: 441px;
  position: absolute;
  bottom: 0px;
  right: -4em;
  opacity: 0.1;
  object-fit: contain;
}

header span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 3.3vh;
  padding-right: 3vw;
}

header span a {
  background-color: #5e56bb;
  font-size: 0.75rem;
  color: white;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 33px;
  padding: 10px 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

/* SECTION 2*/

.article {
  margin: 12.99vh 4.5vw 11.71vw 4.5vw;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.introduction .col-1 {
  margin-right: 6vw;
  font-size: 1.1rem;
  letter-spacing: 14.5%;
  padding-bottom: 2.1vh;
  font-weight: 400;
  color: #171717;
}

.introduction .col-2 p {
  font-size: 1.6rem;
  margin-bottom: 5.3vh;
}

/* SECTION 3 */

.case-studies {
  background-color: #f8f8f8;
  padding-bottom: 10.6vh;
}

.case-studies h4 {
  padding-top: 13.7vh;
  text-align: center;
}

.gallery {
  margin: 10.6vh 3.27vw 10.6vh 3.27vw;
  display: flex;
  flex-direction: column;
}

.gallery img {
  order: 2;
}

.card {
  padding-top: 7.45vh;
  padding-bottom: 7.45vh;
  order: 1;
}

.card-body h1 {
  margin-top: 14.37vh;
  color: #171717;
  font-size: 2.25rem;
  font-weight: normal;
}

.card-body p {
  margin: 2.12vh 0px 10vh 0px;
  line-height: 36px;
  color: #686d7d;
  font-weight: 400;
  font-size: 20px;
}

.explore {
  font-size: 0.75rem;
  line-height: 0.8rem;
  letter-spacing: 2px;
  color: #171717;
  padding-bottom: 1.38vh;
  border-bottom: 1px solid #171717;
  text-decoration: none;
  font-weight: 700;
}

.flex-order {
  order: 1;
}

.card-body-2 h1 {
  margin-top: 14.37vh;
  color: #171717;
  font-size: 2.25rem;
  font-weight: normal;
}

.card-body-2 p {
  margin: 2.12vh 0px 10vh 0;
  line-height: 2.25rem;
  color: #686d7d;
  font-weight: 400;
  font-size: 1.25rem;
}

.card-2 {
  padding-top: 7.45vh;
  padding-bottom: 7.45vh;
}

/* SECTION CONTACT */

.contact {
  margin: 13.73vh 4vw 9.79vh 4vw;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: flex-end;
}

.hello {
  font-size: 1.2rem;
  line-height: 5.438rem;
  font-weight: 700;
  letter-spacing: -2.5%;
  margin-top: 5.32vh;
  margin-bottom: 1.91vh;
}

.form-group label {
  margin-bottom: 1.91vh;
  font-size: 1.2rem;
  line-height: 5.438rem;
  font-weight: 700;
  letter-spacing: -2.5%;
  padding-right: 5vw;
}

.form-group input {
  flex: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00000049;
  padding-bottom: 2.34vh;
  margin-bottom: 3.9vh;
}

.message {
  flex: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00000049;
  padding-bottom: 2.34vh;
  margin-bottom: 3.9vh;
  resize: vertical only;
}

.send-btn {
  background-color: #5e56bb;
  outline: none;
  border: none;
  border-radius: 100%;
  height: 192px;
  width: 192px;
  margin: 8.3vh 0px 9.7vh 20vw;
  color: white;
}

/* section 5 */

.my-story {
  background-color: #5e56bb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-story-title {
  white-space: nowrap;
  color: white;
  padding: 13.7vh 5.95vw 0px 5.95vw;
  letter-spacing: 2px;
  font-size: 1.125rem;
}

.about {
  padding-top: 11.5vh;
  padding-left: 2.9vw;
  padding-right: 2.9vw;
}

.about p {
  color: #f8f8f8;
  padding-bottom: 4.25vh;
  font-size: 1.625rem;
  line-height: 3rem;
  font-weight: normal;
}

footer {
  background-color: #5e56bb;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-right: 2vw;
  height: 130px;
  width: 113px;
  margin-top: 4.25rem;
}

.address {
  margin-top: 7.4vh;
  color: white;
  list-style: none;
  line-height: 2.25rem;
}

.socials {
  display: flex;
  gap: 24px;
  flex-direction: row;
  margin-right: 0.8vw;
  margin-top: 7.45vh;
  color: white;
  list-style: none;
}

.socials i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 1.875rem;
}

@media (min-width: 600px) {
  header h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 620px;
    height: 541px;
    right: 1em;
  }

  /* SECTION 2*/

  .introduction {
    flex-direction: row;
  }

  .introduction .col-1 {
    margin-right: 9vw;
    letter-spacing: 2px;
  }

  /* SECTION 3 */

  .gallery {
    margin: 18.6vh 9.2vw 18.6vh 6.1vw;
  }

  /* SECTION CONTACT */

  .contact {
    margin: 13.7vh 3.2vw 9.7vh 3.2vw;
  }

  .hello {
    font-size: 3rem;
    line-height: 5.4rem;
    margin-top: 5.75vh;
    margin-bottom: 3.4vh;
  }

  .form-group label {
    font-size: 3rem;
    line-height: 5.4rem;
    margin-top: 5.75vh;
    margin-bottom: 3.4vh;
  }

  /* section 5 */

  .my-story {
    flex-direction: row;
    align-items: flex-start;
  }

  .my-story-title {
    padding: 13vh 5.95vw 0px 11.07vw;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-logo {
    margin-left: 1.4vw;
    margin-top: 4.2vh;
  }

  .address {
    margin-top: 7.45vh;
    line-height: 2.25rem;
  }

  .socials {
    flex-direction: row;
    margin-right: 3vw;
  }
}

@media (min-width: 1000px) {

  header h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  /* SECTION 3 */
  .logo {
    width: 620px;
    height: 541px;
    right: 1em;
  }

  /* SECTION 2*/

  .case-studies h4 {
    text-align: start;
    margin-left: 6.3vw;
  }

  .introduction {
    flex-direction: row;
  }

  .introduction .col-1 {
    margin-right: 15vw;
    letter-spacing: 2px;
  }

  /* SECTION 3 */
  .gallery {
    flex-direction: row;
  }

  .card {
    padding: 7.45vh 0px 7.45vh 3.57vw;
    order: 2;
  }

  .card-body p {
    margin: 2.12vh 0px 6.92vh 0px;
    line-height: 2.25rem;
    font-size: 1.25rem;
  }

  .card-body-2 p {
    margin: 2.12vh 0px 6.92vh 0px;
    line-height: 2.25rem;
    font-size: 1.25rem;
  }

  .card-2 {
    padding: 7.45vh 3.86vw 7.45vh 0;
  }

  .gallery-2 {
    margin: 0px 6.19vw 10.64vh 6.19vw;
    display: flex;
  }

  /* SECTION CONTACT */

  .contact {
    margin: 13.7vh 3.2vw 9.7vh 3.2vw;
  }

  .hello {
    font-size: 5.5rem;
    line-height: 5.4rem;
    margin-top: 5.75vh;
    margin-bottom: 3.4vh;
  }

  .form-group label {
    font-size: 5.5rem;
    line-height: 5.4rem;
    margin-top: 5.75vh;
    margin-bottom: 3.4vh;
  }

  /* section 5 */

  .my-story-title {
    padding: 13vh 18vw 0 11.07vw;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-logo {
    margin-left: 6.13vw;
    margin-top: 4.2vh;
  }

  .address {
    margin-top: 7.45vh;
    line-height: 2.25rem;
  }

  .socials {
    flex-direction: row;
    margin-right: 6.96vw;
  }
}
